---
title: Our team
description: We've built an amazing team at CS department, Rice University.
---
<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="{{ person.website }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
   <br>
</ul>

<div class="text-container">
   <h3>
   Alumi
   </h3>
   <div class="alumi">
   <p><a href="https://www.linkedin.com/in/adam-morrison-9b6602129/">Adam Mirroson</a>
   (now at Arista Networks)
   <br>
   <a href="https://www.linkedin.com/in/wenqing-arthur-wu-804236171/">Wenqing "Arthur" Wu</a>
   (Rice undergrad)
   <br>
   <a href="https://www.linkedin.com/in/yujian-ou-737515184/">Yujian Ou</a>
   (Rice undergrad)
</div>


