Poise, or Programmable In-network Security, aims to rethink how to make our future networks fundamentally more secure. Our observation is that many network-based attacks should be mitigated inside the network (instead of at endpoints), but traditional networks can only support simple defenses because they lack programmability. With progra mmable switches, we can now develop attack detection algorithms in hardware to process every single packet at high speed. Upon detecting an attack, the defense can direct ly take actions at the switch without involving a software controller. Our vision for Poise is to transform the network into a "programmable defense infrastructure" that can support security as routing.
<br>
<br>

Concretely, a Poise switch not only forwards traffic, but also applies to it a wide range of defenses; a Poise network not only routes traffic end-to-end, but also swaps defenses along the paths in and out as needed to mitigate attacks. Attacks with mixed vectors would trigger concurrent defenses, and attacks that rapidly change would be met with equally fast defense swapping. In its full force, Poise would toggle a wide array of defenses rapidly on and off as traffic flows through, mitigating attacks in real time.
<br>
<br>

We're taking three steps to realize this Poise vision, as detailed below.
